<div class="card mb-3">
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col-md-8">
				<h5 class="card-title mb-1">{{ (doc.title or doc.name) |e }}</h5>
				<span class="badge bg-info">
					{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}
				</span>
				<p class="text-muted mb-0">
					{{ frappe.utils.format_date(doc.date_of_departure ,"d MMMM, YYYY" )}} | {{ frappe.utils.format_date(doc.time_of_departure, "d MMMM, YYYY") }} | {{ frappe.utils.format_duration(doc.duration) }}
				</p>
				<div class="col-md-4 text-md-end">
					<a href="{{ doc.route }}" target="_blank" class="btn btn-primary">
						View Ticket
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
